.form-field {
  display: block;
  margin-bottom: 10px;
}

.field::placeholder {
  color: rgb(66, 66, 69);
}

.fieldset1 {
  margin-bottom: 20px;

}

.form-field:focus {
  color: green;
}

.field:invalid {
  color: red;
}
